@model MeyawoPortfolio.Models.TblCategory

@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Kategori Güncelleme</h2>
<hr />
@using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
{
    @Html.HiddenFor(x => x.CategoryId)
    <div class="form-group">
        <label>Yeni Kategori Adı</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", style = "border:solid" })
    </div>
    <a href="/Category/Index/" class="btn btn-primary">< Kategori Listesi</a>
    <button class="btn btn-success" type="submit">Güncelle</button>
}

